* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  background: rgb(41, 46, 42);
  background: linear-gradient(
    173deg,
    rgba(41, 46, 42, 1) 0%,
    rgba(139, 184, 142, 1) 35%,
    rgba(31, 125, 39, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  background-attachment: fixed;
}

body,
hmtl,
#root {
  height: 100vh;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}
