.modalContainer {
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: 0.7);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes slide-bottom {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

.modalContent {
  color: #fff;
  width: 600px;
  background: rgb(41, 46, 42);
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  h1 {
    margin-bottom: 12px;
  }

  > button {
    align-self: flex-end;

    svg {
      font-size: 24px;
      color: #fff;
    }
  }

  h3,
  p {
    align-self: flex-start;
  }

  h3 {
    margin-top: 12px;
  }

  textarea {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 16px;
    font-family: Roboto;
    align-self: flex-start;
    width: 100%;
    resize: none;
  }

  > div {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    button {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.6);
      box-shadow: 0px 0px 5px 0px rgba(104, 100, 100, 0.75);
      transition: box-shadow 0.2s;
      svg {
        font-size: 24px;
        color: #fff;
      }

      &:hover {
        box-shadow: 0px 0px 15px 0px rgba(104, 100, 100, 0.75);
      }
    }
  }
}
